nav{
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: all 0.3s ease;
    top: 0;
    
    
}
nav ul{
    color: #ffffff;
    padding: .4rem;
    margin: 1rem;
    list-style: none;
    display: flex;
    gap:1.5rem ;
    font-size: 1.2rem;
}
nav a{
    
    text-decoration: none;
    font-weight: bold;
}
nav li:hover{
    border-bottom: 3px solid rgb(255, 203, 30); 
    transition: border-bottom 0.3s ease-in-out;
    
}
